*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:var(--bg-primary);
  color:var(--text-primary);
  font-family:"Segoe UI",sans-serif;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
}

input,
select{
  outline:none;
}