.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8fafc;
}

.auth-card {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-card h1 {
  text-align: center;
}

.auth-card input,
.auth-card select {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.auth-card button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #6366f1;
  color: white;
  cursor: pointer;
}