.player-bar{
  position:fixed;
  bottom:0;
  left:0;

  width:100%;
  height:90px;

  background:#181818;

  border-top:1px solid #2f2f2f;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 25px;

  z-index:999;
}

.player-info h4{
  margin-bottom:4px;
}

.player-info p{
  color:#b3b3b3;
  font-size:.9rem;
}

.player-bar audio{
  width:500px;
}