.music-grid{

    display:grid;

    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));

    gap:30px;

    margin-top:30px;
}

.music-card{

    background:#181818;

    border-radius:18px;

    padding:22px;

    transition:.35s;

    border:1px solid #282828;
}

.music-card:hover{

    background:#242424;

    transform:translateY(-6px);
}

.music-image{

    width:100%;

    height:180px;

    background:#2a2a2a;

    border-radius:16px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:70px;
}

.music-card h3{

    margin-top:18px;

    color:white;
}

.music-card p{

    color:#a7a7a7;

    margin:10px 0 20px;
}

.play-button{

    width:100%;

    background:#1db954;

    color:white;

    border:none;

    padding:13px;

    border-radius:30px;

    cursor:pointer;

    font-size:16px;

    font-weight:bold;
}

.play-button:hover{

    background:#1ed760;
}