.search-box{
    position:relative;
    display:flex;
    align-items:center;
}

.search-icon{
    position:absolute;
    left:12px;
    color:#b3b3b3;
}

.search-box input{
    padding:10px 12px 10px 40px;
    width:320px;
    border:none;
    border-radius:20px;
}